In [8]:
import pandas as pd
import json
from glob import glob
import chardet

In [9]:
outputDir = glob("../01_GIS/sensitivity/csvs/*")
outputDir

['../01_GIS/sensitivity/csvs\\parisSensitivity1000Output.csv',
 '../01_GIS/sensitivity/csvs\\parisSensitivity1500Output.csv',
 '../01_GIS/sensitivity/csvs\\parisSensitivity2000Output.csv',
 '../01_GIS/sensitivity/csvs\\parisSensitivity3000Output.csv',
 '../01_GIS/sensitivity/csvs\\parisSensitivity500Output.csv',
 '../01_GIS/sensitivity/csvs\\vancouverSensitivity1000Output.csv',
 '../01_GIS/sensitivity/csvs\\vancouverSensitivity1500Output.csv',
 '../01_GIS/sensitivity/csvs\\vancouverSensitivity2000Output.csv',
 '../01_GIS/sensitivity/csvs\\vancouverSensitivity3000Output.csv',
 '../01_GIS/sensitivity/csvs\\vancouverSensitivity500Output.csv']

In [10]:
outputDir[0].split('/')[-1][5:-4]

'parisSensitivity1000Output'

In [11]:
dfs = {}

for output in outputDir:
    dfs[f"{output.split('/')[-1][5:-4]}"] = pd.read_csv(output)

In [12]:
keys = list(dfs.keys())

In [13]:
dfs[f"{keys[0]}"].columns

Index(['left', 'bottom', 'right', 'top', 'fid', 'Unnamed: 0_x', 'index_x',
       'Aesculus Carnea', 'Platanus Hispanica', 'Platanus Orientalis',
       ...
       'Pittosporaceae', 'Pittosporaceae PCT', 'Hydrangeaceae',
       'Hydrangeaceae PCT', 'Garryaceae', 'Podocarpaceae', 'Sciadopityaceae',
       'Garryaceae PCT', 'Podocarpaceae PCT', 'Sciadopityaceae PCT'],
      dtype='object', length=1966)

In [14]:
keys[0].split("Sens")[0]

'paris'

In [15]:
mergeDf = []

for i in range(0, len(keys)):
    tempDf = dfs[f"{keys[i]}"][["sum","num","speciesDiversity"]]
    tempDf.columns = ["sum","num","shannon"]
    tempDf['scale'] = int(keys[i].split('y')[1][:-6])
    tempDf["taxa"] = "species"
    tempDf["city"] = keys[i].split("Sens")[0]
    if (len(mergeDf)>0):
        mergeDf=pd.concat([mergeDf,tempDf],axis=0)
    else:
        mergeDf=tempDf
        
    tempDf = dfs[f"{keys[i]}"][["sum","num","genusDiversity"]]
    tempDf.columns = ["sum","num","shannon"]
    tempDf['scale'] = int(keys[i].split('y')[1][:-6])
    tempDf["taxa"] = "genus"
    tempDf["city"] = keys[i].split("Sens")[0]
    mergeDf=pd.concat([mergeDf,tempDf],axis=0)
    
    tempDf = dfs[f"{keys[i]}"][["sum","num","familyDiversity"]]
    tempDf.columns = ["sum","num","shannon"]
    tempDf['scale'] = int(keys[i].split('y')[1][:-6])
    tempDf["taxa"] = "family"
    tempDf["city"] = keys[i].split("Sens")[0]
    mergeDf=pd.concat([mergeDf,tempDf],axis=0)

<ipython-input-15-1be6b8ffb183>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf['scale'] = int(keys[i].split('y')[1][:-6])
<ipython-input-15-1be6b8ffb183>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf["taxa"] = "species"
<ipython-input-15-1be6b8ffb183>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf["city"] = keys[i].split("Sens")[0]
<ipython-input-15-1be6b8ffb183>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf['scale'] = int(keys[i].split('y')[1][:-6])
<ipython-input-15-1be6b8ffb183>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf["taxa"] = "genus"
<ipython-input-15-1be6b8ffb183>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf["city"] = keys[i].split("Sens")[0]
<ipython-input-15-1be6b8ffb183>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf['scale'] = int(keys[i].split('y')[1][:-6])
<ipython-input-15-1be6b8ffb183>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf["taxa"] = "family"
<ipython-input-15-1be6b8ffb183>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf["city"] = keys[i].split("Sens")[0]

In [16]:
mergeDf.to_csv("./SensitivityCombined.csv")

In [27]:
mergeDf[(mergeDf['city']=="paris")&(mergeDf['scale']==3000)]['shannon'].mean()

1.809690394686844

In [31]:
cities = ["paris","vancouver"]
scales = [500,1000,1500,2000,3000]
taxas = ["species","genus","family"]

summaryData = []

for city in cities:
    for scale in scales:
        for taxa in taxas:
            
            tempDf = mergeDf[(mergeDf['city']==city)&(mergeDf['scale']==scale)&(mergeDf['taxa']==taxa)]
            tempObj = {
                'city': city,
                'scale': scale,
                'taxa': taxa,
                'mean': tempDf["shannon"].mean(),
                'sd': tempDf["shannon"].std(),
                'q25': tempDf["shannon"].quantile(.25),
                'q75': tempDf["shannon"].quantile(.75)
            }
            summaryData.append(tempObj)

In [35]:
pd.DataFrame(summaryData)

         city  scale     taxa      mean        sd       q25       q75
0       paris    500  species  1.598780  0.804658  1.034874  2.230975
1       paris    500    genus  1.373408  0.723996  0.853990  1.947345
2       paris    500   family  1.236983  0.626290  0.807526  1.720567
3       paris   1000  species  1.962765  0.823547  1.530121  2.576654
4       paris   1000    genus  1.658221  0.715278  1.251394  2.180730
5       paris   1000   family  1.473664  0.608447  1.160705  1.947575
6       paris   1500  species  2.091487  0.979848  1.791047  2.772391
7       paris   1500    genus  1.741487  0.809914  1.526505  2.282555
8       paris   1500   family  1.526212  0.697305  1.365767  2.022857
9       paris   2000  species  2.034677  1.014505  1.042574  2.827733
10      paris   2000    genus  1.682472  0.856554  0.939192  2.358795
11      paris   2000   family  1.469158  0.729077  0.882967  1.960068
12      paris   3000  species  2.146498  1.043370  1.490405  2.861531
13      paris   3000    genus  1.766043  0.861515  1.193630  2.345504
14      paris   3000   family  1.516530  0.733592  0.996123  1.999407
15  vancouver    500  species  2.053378  0.614259  1.822134  2.450588
16  vancouver    500    genus  1.614711  0.513907  1.395425  1.951406
17  vancouver    500   family  1.418761  0.450127  1.231414  1.732984
18  vancouver   1000  species  2.538191  0.630435  2.367656  2.938080
19  vancouver   1000    genus  1.950340  0.475165  1.809042  2.247770
20  vancouver   1000   family  1.683104  0.398924  1.581915  1.924576
21  vancouver   1500  species  2.798832  0.582245  2.731171  3.089356
22  vancouver   1500    genus  2.095953  0.446836  2.015918  2.345315
23  vancouver   1500   family  1.793164  0.370320  1.710897  1.991307
24  vancouver   2000  species  2.840626  0.761189  2.761172  3.303570
25  vancouver   2000    genus  2.141405  0.533209  2.082105  2.429494
26  vancouver   2000   family  1.806815  0.448472  1.779781  2.039484
27  vancouver   3000  species  3.140036  0.375464  3.112888  3.343374
28  vancouver   3000    genus  2.336632  0.228744  2.254819  2.482464
29  vancouver   3000   family  1.983281  0.216843  1.881013  2.132318